.identidade_value {
    margin-left: 5px;
}

.identidade_label {
    font-weight: bolder;
    font-variant-caps: all-petite-caps;
    float: left;
    min-height: 100%;
    display: inline-flex;
    align-items: center;
}

.container {
    border: 1px solid black;
}

.row {
    border: 1px solid black;
}

mat-chip-list {
    float: left;
    margin: 3px 0 3px 5px;
}