.petite-caps {
    font-weight: bolder;
    font-variant-caps: petite-caps;
}

.badge {
    margin-right: 2px;
}

.row {
    display: flex;
    align-items: center;
}

@media(min-width:375px) {
    .identidade_label {
        font-size: 10px;
    }
    .identidade_value {
        font-size: 10px;
    }
    .row {
        height: 20px;
    }
}

@media(min-width:1200px) {
    .identidade_label {
        font-size: 20px;
    }
    .identidade_value {
        font-size: 20px;
    }
    .row {
        height: 40px;
    }
}