<mat-expansion-panel expanded="false" hideToggle="true">
    <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px">
        <mat-panel-title>
            <div class="row-fluid d-flex full-width">
                <div class="col-2 p-0">
                    <div class="panel-atributo-stats-container border-right-1">
                        <div class="panel-atributo-stats-classe">{{classe}}{{nivel}}</div>
                        <div class="panel-atributo-stats-pontos">{{pontos}} pts</div>
                    </div>
                </div>
                <div class="col-8 panel-atributo-title">{{nome}}</div>
                <div class="col-2 p-0">
                    <div class="panel-atributo-stats-container border-left-1 float-right">
                        <div class="row-fluid d-flex full-width justify-content-center">
                            <div class="col-9 p-0 panel-atributo-stats-valor">{{porcentagem.valor}}</div>
                            <div class="col-3 p-0 panel-atributo-stats-mag align-self-end text-center">{{porcentagem.magnitude}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row-fluid row-height d-flex">
        <div class="col p-0 row-height d-flex justify-content-center">
            <div class="tile-atributo-container">
                <div class="row-fluid d-flex full-width justify-content-center tile-atributo-nome">
                    <div class="p-0">{{atrib1_nome}}</div>
                </div>
                <div class="row-fluid d-flex full-width justify-content-center tile-atributo-valor">
                    <div class="p-0">{{atrib1.valor}}</div>
                </div>
                <div class="row-fluid d-flex full-width tile-atributo-mag">
                    <div class="col-9"></div>
                    <div class="col-3 p-0 text-center mx-auto border-left-1 border-top-1">{{atrib1.magnitude}}</div>
                </div>
            </div>
        </div>
        <div class="col p-0 row-height d-flex justify-content-center">
            <div class="tile-atributo-container">
                <div class="row-fluid d-flex full-width justify-content-center tile-atributo-nome">
                    <div class="p-0">{{atrib2_nome}}</div>
                </div>
                <div class="row-fluid d-flex full-width justify-content-center tile-atributo-valor">
                    <div class="p-0">{{atrib2.valor}}</div>
                </div>
                <div class="row-fluid d-flex full-width tile-atributo-mag">
                    <div class="col-9"></div>
                    <div class="col-3 p-0 text-center mx-auto border-left-1 border-top-1">{{atrib2.magnitude}}</div>
                </div>
            </div>
        </div>
        <div class="col p-0 row-height d-flex justify-content-center">
            <div class="tile-atributo-container">
                <div class="row-fluid d-flex full-width justify-content-center tile-atributo-nome">
                    <div class="p-0">{{atrib3_nome}}</div>
                </div>
                <div class="row-fluid d-flex full-width justify-content-center tile-atributo-valor">
                    <div class="p-0">{{atrib3.valor}}</div>
                </div>
                <div class="row-fluid d-flex full-width tile-atributo-mag">
                    <div class="col-9"></div>
                    <div class="col-3 p-0 text-center mx-auto border-left-1 border-top-1">{{atrib3.magnitude}}</div>
                </div>
            </div>
        </div>
        <div class="col p-0 row-height d-flex justify-content-center">
            <div class="tile-atributo-container">
                <div class="row-fluid d-flex full-width justify-content-center tile-atributo-nome">
                    <div class="p-0">{{atrib4_nome}}</div>
                </div>
                <div class="row-fluid d-flex full-width justify-content-center tile-atributo-valor">
                    <div class="p-0">{{atrib4.valor}}</div>
                </div>
                <div class="row-fluid d-flex full-width tile-atributo-mag">
                    <div class="col-9"></div>
                    <div class="col-3 p-0 text-center mx-auto border-left-1 border-top-1">{{atrib4.magnitude}}</div>
                </div>
            </div>
        </div>
        <div class="col p-0 row-height d-flex justify-content-center">
            <div class="tile-atributo-container">
                <div class="row-fluid d-flex full-width justify-content-center tile-atributo-nome">
                    <div class="p-0">{{atrib5_nome}}</div>
                </div>
                <div class="row-fluid d-flex full-width justify-content-center tile-atributo-valor">
                    <div class="p-0">{{atrib5.valor}}</div>
                </div>
                <div class="row-fluid d-flex full-width tile-atributo-mag">
                    <div class="col-9"></div>
                    <div class="col-3 p-0 text-center mx-auto border-left-1 border-top-1">{{atrib5.magnitude}}</div>
                </div>
            </div>
        </div>
    </div>
</mat-expansion-panel>