.border-left-1 {
    border-left: 1px solid black;
}

.border-right-1 {
    border-right: 1px solid black;
}

.border-top-1 {
    border-top: 1px solid black;
}

.full-width {
    width: 100%;
}

.panel-atributo-stats-valor {
    height: 70%;
    text-align: center;
}

.panel-atributo-stats-mag {
    height: 30%;
    text-align: center;
    width: 30%;
    float: right;
    border-top: solid 1px black;
    border-left: solid 1px black;
}

.panel-atributo-title {
    font-weight: bolder;
    font-variant-caps: all-petite-caps;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-atributo-stats {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
}

.panel-atributo-stats-classe {
    height: 70%;
    text-align: center;
}

.panel-atributo-stats-pontos {
    height: 30%;
    text-align: center;
    width: 100%;
    float: right;
    border-top: solid 1px black;
}

::ng-deep .mat-expansion-panel-body {
    padding: 5px 20px 5px 20px !important;
}

mat-expansion-panel-header {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 0;
}

mat-expansion-panel {
    border: 1px solid black;
}

mat-panel-title {
    margin-right: 0px;
}

.tile-atributo-container {
    border: 1px solid black;
    position: absolute;
    width: 100%;
    height: 100%;
}

.tile-atributo-nome {
    font-weight: bolder;
    font-variant-caps: all-petite-caps;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.tile-atributo-valor {
    text-align: center;
}

@media(min-width:375px) {
    .tile-atributo-nome {
        height: 35%;
        font-size: 8px;
        line-height: 20px;
    }
    .tile-atributo-valor {
        font-size: 35px;
        line-height: 35px;
    }
    .tile-atributo-mag {
        font-size: 10px;
    }
    .tile-atributo-container {
        height: 80px !important;
        width: 80px !important;
    }
    mat-grid-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .panel-atributo-stats-container {
        height: 50px;
        width: 70px;
    }
    .panel-atributo-title {
        font-size: 35px;
        line-height: 50px;
    }
    .row-height {
        height: 80px;
    }
}

@media(min-width:1200px) {
    .tile-atributo-nome {
        height: 15px;
        font-size: 10px;
    }
    .tile-atributo-valor {
        height: 49px;
        font-size: 40px;
        line-height: 55px;
    }
    .tile-atributo-mag {
        font-size: 10px;
        height: 14px;
        line-height: 14px;
    }
    .tile-atributo-container {
        height: 80px !important;
        width: 80px !important;
    }
    mat-grid-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .panel-atributo-stats-container {
        height: 50px;
        width: 80px;
    }
    .panel-atributo-title {
        font-size: 35px;
        line-height: 50px;
    }
    .row-height {
        height: 80px;
    }
    .panel-atributo-stats-classe {
        font-size: 35px;
        line-height: 35px;
    }
    .panel-atributo-stats-mag {
        font-size: 10px;
    }
    .panel-atributo-stats-pontos {
        font-size: 10px;
    }
    .panel-atributo-stats-valor {
        font-size: 40px;
        line-height: 50px;
    }
}