<mat-accordion>
    <!-- Força -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Força
            </mat-panel-title>
            <mat-panel-description>
                A1 | 94% | Mg: 9
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="5" rowHeight="1:1" class="grid-atributos">
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Potência</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Golpe</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Dureza</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Vigor</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Sustentação</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
    <!-- Matéria -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Matéria
            </mat-panel-title>
            <mat-panel-description>
                A1 | 94% | Mg: 9
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="5" rowHeight="1:1" class="grid-atributos">
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Colapso</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Impulso</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Resistência</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Vitalidade</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Regeneração</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
    <!-- Destreza -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Destreza
            </mat-panel-title>
            <mat-panel-description>
                A1 | 94% | Mg: 9
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="5" rowHeight="1:1" class="grid-atributos">
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Reflexo</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Esquiva</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Ataque</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Coordenação</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Iniciativa</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
    <!-- Intelecto -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Intelecto
            </mat-panel-title>
            <mat-panel-description>
                A1 | 94% | Mg: 9
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="5" rowHeight="1:1" class="grid-atributos">
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Concentração</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Visualização</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Aprendizagem</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Senso</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Eidos</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
    <!-- Criatividade -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Criatividade
            </mat-panel-title>
            <mat-panel-description>
                A1 | 94% | Mg: 9
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="5" rowHeight="1:1" class="grid-atributos">
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Singularidade</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Invenção</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Tutor</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Realidade</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Irrealidade</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
    <!-- Existência -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Existência
            </mat-panel-title>
            <mat-panel-description>
                A1 | 94% | Mg: 9
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="5" rowHeight="1:1" class="grid-atributos">
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Conhecimento</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Experiência</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Ciência</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Consciência</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Memória</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
    <!-- Idéia -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Idéia
            </mat-panel-title>
            <mat-panel-description>
                A1 | 94% | Mg: 9
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="5" rowHeight="1:1" class="grid-atributos">
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Ki</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Base</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Mistério</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Holismo</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <div class="tile-atributo-container">
                        <div class="tile-atributo-nome">Nexo</div>
                        <div class="tile-atributo-valor">95</div>
                        <div class="tile-atributo-mag">16</div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
</mat-accordion>