<!--The content below is only a placeholder and can be replaced.-->
<div>
    <h1>
        Welcome to {{ title }}!
    </h1>
    <app-ficha-identidade></app-ficha-identidade>
    <div class="container" id="ficha-atributos">
        <app-ficha-atributos></app-ficha-atributos>
    </div>
    <div class="container" id="ficha-energias">
        <app-ficha-energias></app-ficha-energias>
    </div>
    <div class="container" id="ficha-subatributos">
        <app-ficha-subatributos></app-ficha-subatributos>
    </div>
    <div class="container" id="ficha-deslocamento">
        <app-ficha-deslocamento></app-ficha-deslocamento>
    </div>
    <div class="container" id="ficha-combate">
        <app-ficha-combate></app-ficha-combate>
    </div>
</div>