<div class="card-container">
    <mat-card class="card-energia">
        <mat-card-content>
            <div class="label-energia-nome">HP</div>
            <div class="progress-container">
                <div class="label-energia-valor">80/100</div>
                <mat-progress-bar class="progress-bar" value="80" color="warn"></mat-progress-bar>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-energia">
        <mat-card-content>
            <div class="label-energia-nome">MP</div>
            <div class="progress-container">
                <div class="label-energia-valor">28/100</div>
                <mat-progress-bar class="progress-bar" value="28"></mat-progress-bar>
            </div>
        </mat-card-content>
    </mat-card>
</div>